SERVICE_NAME=Notification-Backend
ENV=dev
DEBUG=true

MASTER_API_KEY=12345678-unsafe-master
SECRET_KEY=unsafe-key-for-dev-only

REDIS_URL=redis://localhost:6379/0

DB_DIALECT=postgresql
DB_DRIVER=asyncpg
DB_USER=suhaanthvv
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_SUPPORTS_SCHEMA=true